.gradle



bin



Reports

Reports/

Report

Report/



Libs



output



!output/.gitkeep

build



.classpath



.project

/bin/

/Libs/

/.settings/

/.classpath

.svn/



.cache

.Project



.DS_Store

appium.log

settings/

\.settings/

.settings

.settings/

